#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 250px;
  transform: translate(-50%,-50%);
}

.photograph-header img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  left: calc(100% - 240px);
  top: 50px;
  position: relative;
}

.photograph-header .photographInfo {
  position: relative;
  top: -140px;
  margin-left: 30px;
  width: 40%;
}

.photograph-header h2 {
  color: #D3573C;
  font-size: clamp(32px, 4vw, 64px);
  font-weight: 400;
}

.photograph-header h3 {
  color: #901C1C;
  font-size: clamp(12px, 2vw, 24px);
  font-weight: 400;
}

.photograph-header h4 {
  color: #525252;
  font-size: clamp(9px, 1.5vw, 18px);
  font-weight: 400;
  margin-top: 15px;
}

.price-and-like {
  display: flex;
  width: 250px;
  background: #DB8876;
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
  position: fixed;
  bottom: 0;
  right: calc(100vw - 97%);
  padding: 20px 40px 15px 40px;
  justify-content: space-between;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photograph-header .contact_button {
  position: relative;
  left: calc(50% - 85px);
  bottom: 235px;
}

#contact_modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(196, 196, 196, 0.4)
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  position: fixed;
  left: 25%;
  top: 20px;
  opacity: 1;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.modal header {
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.modal header img {
  cursor: pointer;
  position: relative;
  left: 94%;
  top: -180px;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  position: relative;
}

.modal header #contact-title-wording1 {
  top: -30px;
  width: 90%;
}

.modal header #contact-title-wording2 {
  top: -50px;
  width: 90%;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
  margin-top: 15px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding-left: 15px;
}

form textarea {
  border-radius: 8px;
  width: 100%;
}